{% extends "base.html" %}

{% load static %}

{% block title %}Вход Demir | Доступ к Эксклюзивному Каталогу Автомобилей{% endblock title %}

{% block body %}
<section class="login content">

    <h1 class="login__title">Рады видеть вас снова!</h1>

    <form method="POST" class="login__form">
        {% if form.errors %}
            {% for error in form.non_field_errors %}
                <p class="error">** {{ error|escape }} **</p>
            {% endfor %}
        {% endif %}
        {% csrf_token %}
        {{ form.username }} <br>
        {{ form.password }} <br>
        <button class="login__button" type="submit">Войти!</button>
        <p class="login__out">До сих пор не аккаунта? <a href="{% url 'registration' %}">Зарегистрироваться</a></p>
    </form>

</section>
{% endblock %}