{% extends "base.html" %}

{% load static %}

{% block title %}Личный Кабинет Demir | Управление Арендой Эксклюзивных Автомобилей{% endblock title %}

{% block body %}
<section class="content profile">
    <h1 class="profile__title">Ваш профиль</h1>
    <div class="profile__data">
        <img src="{% static 'images/user.png' %}" alt="avatar" class="profile__avatar">
        <div class="profile__user">
            <p class="user__info">{{ user.first_name }}</p>
            <p class="user__info">{{ user.last_name }}</p>
            <p class="user__info">{{ user.phone }}</p>
            <p class="user__info">{{ user.email }}</p>
            <p class="user__info">{{ user.passport_details }}</p>
        </div>
    </div>

    <h2 class="profile__subtitle">Ваши брони</h2>

    <div class="profile__booking">
        <div class="profile__labels">
            <p class="profile__booking-label">id</p>
            <p class="profile__booking-label">Дата начала</p>
            <p class="profile__booking-label">Дата конца</p>
            <p class="profile__booking-label">Автомобиль</p>
            <p class="profile__booking-label">Цена</p>
            <p class="profile__booking-label">Статус брони</p>
        </div>
        {% for proposal in proposals %}
        <div class="profile__application">
            <div class="profile__application-id application__param">#{{ proposal.id }}</div>
            <div class="profile__application-start application__param">{{ proposal.date_start }}</div>
            <div class="profile__application-end application__param">{{ proposal.date_end }}</div>
            <div class="profile__application-car application__param">{{ proposal.car.manufacturer }} {{ proposal.car.name }}</div>
            <div class="profile__application-price application__param">{{ proposal.total_price }} рублей</div>
            <div class="profile__application-status application__param">{{ proposal.status }}</div>
            <form action="{% url 'delete_proposal' proposal.id %}" method="POST">
                {% csrf_token %}
                <button type="submit"
                    class="profile__application-status application__param application__delete">УДАЛИТЬ</button>
            </form>
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}