{% extends "base.html" %}

{% load static %}

{% block title %}Регистрация Demir | Создайте Личный Кабинет для Аренды Эксклюзивных Автомобилей
{% endblock title %}

{% block body %}
<section class="content registration">

    <h1 class="registration__title">Добро пожаловать в Demir!</h1>

    <form method="POST" class="registration__form">
        {% if form.errors %}
            {% for field in form %}
                {% for error in field.errors %}
                    <p class="error">** {{ error }} **</p>
                {% endfor %}
            {% endfor %}
        {% endif %}
        {% csrf_token %}
        {{ form.login }} <br>
        {{ form.fio }} <br>
        {{ form.phone }} <br>
        {{ form.password }} <br>
        {{ form.passport_details }} <br>
        {{ form.email }} <br>
        <button class="registration__button" type="submit">Зарегистрироваться!</button>
    </form>

</section>
{% endblock %}